#title1 {
    color: black;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

#title2 {
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

#title3 {
    color: black;
    text-align: center;
    font-size: 10px;
    margin: 0;
}